@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    font-family: $font-family;
}

.navbar {
    top: 0;
    background: transparent !important;
    color: $light !important;
}

.navbar.scrolled {
    background: $light !important;
    box-shadow: 0 6px 30px rgba(0,0,0,0.1);
}

.nav-link {
    text-transform: uppercase;

    &::before, &::after {
        display: inline-block;
        opacity: 0;
        transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
        margin-right: 10px;
        content: '[';
        transform: translateX(20px);
    }

    &::after {
        margin-left: 10px;
        content: ']';
        transform: translateX(-20px);
    }

    &:hover::before, &:hover::after, &:focus::before, &:focus::after {
        opacity: 1;
        transform: translateX(0px);
    }
}

.btn-top {
    color: $light;

    &:hover {
        color: rgba(0, 0, 0, 0.5) !important;
    }
}

.btn-scrolled {
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: $dark;
        color: $light !important;
        border-color: transparent;
    }
}

footer {
    background-color: $light;
    box-shadow: 0 -6px 30px rgba(0,0,0,0.1);
    display: none;
}

footer.scrolled {
    display: block;
}