@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

$light: #faf9f9;
$dark: #0c0c0c;
$primary: #faf7f4;
$secondary: #FF5349;

$border-radius-img: 50%;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    top: 0;
    background: transparent !important;
    color: $light !important;
}

.navbar.scrolled {
    background: $light !important;
    box-shadow: 0 6px 30px rgba(0,0,0,0.05);
}

.nav-link {
    text-transform: uppercase;
}

footer {
    background-color: $light;
}