@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    font-family: $font-family;
}

.navbar {
    top: 0;
    background: transparent !important;
    color: $light !important;
}

.navbar.scrolled {
    background: $light !important;
    box-shadow: 0 6px 30px rgba(0,0,0,0.05);
}

.nav-link {
    text-transform: uppercase;
}

footer {
    background-color: $light;
}