@import 'variables';

$line-width: 60px;
$line-height: 1px;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$img-size: 18vw;
$img-size-responsive: 35vw;
$card-background-color: rgba(18, 24, 43, 0.65);
$card-width: 18vw;
$card-height: 14vw;
$card-border-radius: 5%;
$card-width-responsive: 60vw;
$card-height-responsive: 50vw;

.header {
    height: 100vh;
    background: no-repeat linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5)), url("/assets/images/computer.jpg");
    background-size: cover;
}

main > .container {
    padding-top: $spacing * 10;
}

h1 {
    text-transform: uppercase;
}

#presentation, #realisation, #contact-section {
    h2 {
        font-size: $font-size-h2;
    }
}

.line-light, .line-dark {
    width: $line-width;
    height: $line-height;
}

.line-light {
    background: $light;
}

.line-dark {
    background: $dark;
}

.text-presentation {
    text-align: justify !important;
}

.img-presentation {
    background: black;
    overflow: hidden;
    border-radius: $border-radius-img;
    width: $img-size;
    img {
        opacity: 0.8;
        width: $img-size;
    }
}

@media screen and (min-width: 768px) {
    .presentation-responsive {
        width: 75% !important;
    }
}

@media screen and (max-width: 767px) {
    .presentation-responsive {
        flex-direction: column-reverse;
        margin-right: 1rem;
        margin-left: 1rem;
        .img-presentation {
            margin-bottom: 2rem;
            width: $img-size-responsive;
            img {
                width: $img-size-responsive;
            }
        }
    }
}

#realisation {
    background-color: darken($primary, 5%);

    .form-check-input {
        position:absolute;
        visibility:hidden;
        opacity:0;
    }

    .btn {
        padding: 0.25rem 0.5rem;
    }
}



.card-inverse .card-img-overlay {
    background-color: $card-background-color;
}

.card, .card-img-overlay, .card-img {
    width: $card-width;
    height: $card-height;
    border-radius: $card-border-radius;
}

.card-img-overlay {
    h3 {
        font-size: $font-size-h3;
    }

    &:hover h3, &:focus h3, &:active h3 {
        display: none;
    }

    .info {
        display: none;
    }

    &:hover .info, &:focus .info, &:active .info {
        display: block;
    }
}

.card-inverse:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 767px) {
    .realisation-responsive {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card, .card-img-overlay, .card-img {
        width: $card-width-responsive;
        height: $card-height-responsive;
    }
}

#contact-section, #realisation-details {
    padding-bottom: $spacing * 18;
}

@media screen and (min-width: 768px) {
    .contact-responsive, .carousel {
        width: 50% !important;
    }
}

@media screen and (max-width: 1024px) {
    .skills {
        display: none;
    }
}