@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

$light: #faf9f9;
$dark: #0c0c0c;
$primary: #faf7f4;

$font-family: 'Poppins', sans-serif;

$border-radius-img: 50%;