<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Aurélie Frarin | Portfolio{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>{% include '_includes/_navbar.html.twig' %}</header>
    <div class="container-fluid p-0 m-0">
        <section class="header d-flex align-items-center justify-content-center">
            <div class="text-light mb-4 d-flex flex-column align-items-center">
                <h1 class="mb-1">Aurélie <strong>Frarin</strong></h1>
                <div class="line-light my-2"></div>
                <h2>Développeuse web</h2>
            </div>
        </section>
        {% block body %}{% endblock %}
    </div>
    <footer class="fixed-bottom">{% include '_includes/_footer.html.twig' %}</footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
