{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="container-fluid p-0 m-0">
        <div class="header d-flex align-items-center justify-content-center">
            <div class="text-light mb-4 d-flex flex-column align-items-center">
                <h1 class="mb-1">Aurélie <strong>Frarin</strong></h1>
                <div class="line my-2"></div>
                <h2>Développeuse web</h2>
            </div>
        </div>
    </div>
{% endblock %}